.header{
    display: block;
    background-color:#1c1f1e;
    box-shadow: 1px 1px 25px rgba(0,0,0,0.6);
    height: 68px;
}
.menu{
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 18%;
    color: #EEF0F2;
    font-weight: 700;
}

.left{
    font-size: 28px;
    transition: all .3s;
}

.left p{
    width: 150px;
}

.left:hover{
    margin-left: -10px;
    color: white;
}
.navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-weight: 500;
    font-size: 22px
}
.navbar li{
    padding: 20px 40px;
    transition: all .3s;
}

.navbar li:hover{
    background-color:#181818;
    color:white;
    margin-top: -1px;
    cursor: pointer;
}