.post{
    background-color:white;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    margin: 50px 0;
    display: flex;
    align-items: center;
    padding: 0;
    transition: all .2s;
}
.post:hover{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.post_small{
    min-width: 580px;
    max-width: 680px;
    height: 200px;
    margin-left: auto;
}
.post_small > div > .image_preview{
    height: 200px;
    width: 200px;
}

.post_small .footer img{
    width: 20px;
    position: absolute;
    margin-left: 400px;
    margin-top: 10px;
}
.post_large{
    min-width: 800px;
    max-width: 900px;
    height: 440px;
    border-radius:5px;
}
.post_large > div > .image_preview{
    height: 440px;
    width: 440px;
}
.post_large .footer img{
    width: 20px;
    position: absolute;
    margin-left: 360px;
    margin-top: 100px;
}

.image_preview{
    display: block;
    height: 100%;
}

.body_preview{
    padding-left: 30px;
    padding-right: 30px;
    line-height: 40px;
}

.author{
    font-size: 14pt;
    font-weight: 400;
}
.title{
    font-size: 24pt;
    font-weight: 700;
    color: #c58c23;
    cursor: pointer;
}
.content{
    line-height: 25px;
    font-size: 12pt;
    font-weight: 400;
}

